{% extends "todo/base.html" %}

{% block content %}
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
<div class="row justify-content-center mt-5">
        <div class="col-md-7 text-center">

                 <h1>Simply Your To Dos!!!</h1>
            <p>Hey there, we have lot of things to do in our daily life. <br>Its always good to have an idea on <u>what to do and what you did</u>. <br>I created <b><i>Todo Doo</i></b> to help u list out the things u wanna do and things u completed doing.</p>
        <a role="button" class="btn btn-primary btn-lg" href="{% url 'signupuser' %}">Start</a>
        </div>
    </div>

{% endblock %}
